body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#3E294C;

}

.container{

    height:90vh;
    width:615px;
    overflow:hidden;
    position: relative;

   

    .cover{
        position:absolute;
        height:90vh;
        width:100%;
        padding-bottom: 2px;
        background: rgba(30, 0, 47, 0.842);
        display: flex;;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        color:white;
        
        font-weight: 100;
        h1{
            letter-spacing: 2px;
           color:#FBB317;
           font-size:55px;
           font-weight: 400;
           font-family: 'Charm', cursive;
            
        }

        p{
            width:70%;
            font-size:20px;;
            font-weight: 500;
            font-family: 'Charm', cursive;
            
            text-align: justify;
            letter-spacing: 3px;
            font-size:30px;

        }
        h2{
            font-family: 'Charm', cursive;
            
            letter-spacing: 1px;
            font-weight:100;
            margin:10px;
            font-size:22px;
            text-align: center;

            &:nth-child(1){
                font-size:15px;
            }
        }
        
        span.date{

            a{
                button{
                    padding:15px;
                    font-size: 15px;
                    font-weight: 600;
                    background:#F15A29;
                    border:none;
                    border-top-left-radius: 30px;;
                    border-bottom-right-radius: 30px;;
                    color:white;
                    outline:none;
                    letter-spacing: 2px;
           
                    cursor: pointer;
                }
            }
        }


    }
    .openers{
        display:flex;
        justify-content:center;
        height:845px;
        width:615px;
        overflow:visible;
        position: absolute;
        .door1{
            position: relative;
            z-index:4;
            width:50%;
            box-shadow: 0px 0px 10px 0px #000;
           
        }
        .door2{
            position:relative;
            width:50%;
            height:100%;
            z-index: 2;
            opacity: 1;
            box-shadow: 0px 0px 10px 0px #000;
          
            
        }
        #main{
           
            position: relative;
        }
    }
}

@media screen and (max-width: 715px) {

    body{
        overflow: hidden;
        height:100vh;
        width:100vw;

        .container{

            height:100vh;
            width:100vw;
            overflow: hidden;
            #PRINT{

                height:100vh;
                width:100%;
                transform:scale(1.35);
                overflow-y: hidden;
                


            }
            .cover{
                height:100vh;
                width:100vw;padding:none;
                z-index: 999;
                h1.heading{

                    position:relative;
                    
                }
                p{
                    width:90%;
                }

                span.date{

                    position:relative;
                    bottom:-10px;

                    height:auto;;

                   
                }

            }

        }
    }

}

