body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3E294C;
}

.container {
  height: 90vh;
  width: 615px;
  overflow: hidden;
  position: relative;
}

.container .cover {
  position: absolute;
  height: 90vh;
  width: 100%;
  padding-bottom: 2px;
  background: rgba(30, 0, 47, 0.842);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 100;
}

.container .cover h1 {
  letter-spacing: 2px;
  color: #FBB317;
  font-size: 55px;
  font-weight: 400;
  font-family: 'Charm', cursive;
}

.container .cover p {
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Charm', cursive;
  text-align: justify;
  letter-spacing: 3px;
  font-size: 30px;
}

.container .cover h2 {
  font-family: 'Charm', cursive;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 10px;
  font-size: 22px;
  text-align: center;
}

.container .cover h2:nth-child(1) {
  font-size: 15px;
}

.container .cover span.date a button {
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  background: #F15A29;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  outline: none;
  letter-spacing: 2px;
  cursor: pointer;
}

.container .openers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 845px;
  width: 615px;
  overflow: visible;
  position: absolute;
}

.container .openers .door1 {
  position: relative;
  z-index: 4;
  width: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px #000;
          box-shadow: 0px 0px 10px 0px #000;
}

.container .openers .door2 {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px #000;
          box-shadow: 0px 0px 10px 0px #000;
}

.container .openers #main {
  position: relative;
}

@media screen and (max-width: 715px) {
  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  body .container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  body .container #PRINT {
    height: 100vh;
    width: 100%;
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    overflow-y: hidden;
  }
  body .container .cover {
    height: 100vh;
    width: 100vw;
    padding: none;
    z-index: 999;
  }
  body .container .cover h1.heading {
    position: relative;
  }
  body .container .cover p {
    width: 90%;
  }
  body .container .cover span.date {
    position: relative;
    bottom: -10px;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */